
<html>
<head>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <title>Booking System</title>
</head>
<div style="margin-bottom:10%;"></div>

    @Html.ActionLink("Back to List", "Index")

<body style="background-color: #d4d8e1">
    <div class="btn-info"></div>

    <div style="text-align:center;margin-left:auto;margin-right:auto;width:35%">
    </div>
    <div class="content">
        <div class="book-top">

            <div class="container">
                <div class="col-md-4 content-grid">
                    <img class="img-responsive" src="~/Images/bus1.jpg" alt=" ">
                    <h5>But I must explain to you how all.</h5>

                    <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>

                    <a class="more hvr-shutter-in-horizontal" href="~/Account/Login">Read More</a>   
</div>
                <div class="col-md-4 content-grid">
                    <img class="img-responsive" src="~/Images/logo.gif" alt=" ">
                    <h5>But I must explain to you how all  </h5>
                    <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                    <a class="more hvr-shutter-in-horizontal" href="~/Account/Login">Read More</a>
                     
                </div>
                <div class="col-md-4 content-grid">
                    <img class="img-responsive" src="~/Images/volvo-bus-final.gif" alt=" ">
                    <h5>But I must explain to you how all </h5>
                    <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                    <a class="more hvr-shutter-in-horizontal" href="~/Account/Login">Read More</a>

                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="grid-bottom">
            <div class="container">
                <div class="top-1">
                    <h3>Our Team</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great</p>
                </div>
                <div class="team">
                    <div class="col-md-6 team-m1">
                        <div class="team-1">
                             

                            
                           
                             
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="clear"></div>
        <div class="left-content">
            <h1>For Telephone Assisstance or Queries</h1>

            <table style="background: white">

                <tr>
                    <td> toll no. 	: 	0734082453</td>

                </tr>
            </table>
        </div>
        <div class="right-nav" style="">
            <aside>
                <h1>Advantages</h1>
                <ul style="background: white" class="img1">

                    <li>Return ticket Facility is available for major cities.</li>

                </ul>
            </aside>

        </div>*@

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/nivo-lightbox.min.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
</body>
</html>